.main-hero {
  min-height: calc(100vh - 84px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid var(--border-color);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.landing-hero {
  padding: 0 4rem;
  border-right: 1px solid var(--border-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.landing-tag {
  font-size: 0.8rem;
  color: var(--muted-text);
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 1.5px;
  margin-bottom: 1.5rem;
}

.landing-hero-text h1 {
  font-size: 3.5rem;
  font-family: var(--secondary-font);
  font-weight: 600;
  width: 550px;
  line-height: 1;
  margin: 1.5rem 0;
}

.landing-hero-text h1 span {
  color: var(--muted-text);
  font-style: italic;
  font-weight: 500;
}

.landing-subtext {
  color: var(--muted-text);
  font-size: 0.9rem;
  width: 350px;
  line-height: 1.5;
  margin: 1.5rem 0;
}

.hero-auth {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

/* =========================================== */

.landing-preview {
  padding: 0 4rem;
  background-color: var(--secondary-surface);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.preview-body {
  background-color: var(--primary-surface);
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.article-tag {
  color: var(--muted-text);
  font-size: 0.62rem;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.article-title {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 0.9rem;
}

.article-meta {
  color: var(--very-muted-text);
  font-size: 0.6rem;
}

/* =========================================== */

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stats-item {
  text-align: center;
  border-right: 1px solid var(--border-color);
  padding: 3rem 0;
}

.stats-item h3 {
  font-size: 1.8rem;
  font-family: var(--secondary-font);
}

.stats-item p {
  font-size: 0.7rem;
  color: var(--muted-text);
}

@media screen and (min-width: 2100px) {
  .landing-hero-text h1 {
    font-size: 5rem;
    width: 80%;
    line-height: 80px;
  }

  .landing-subtext {
    font-size: 1rem;
    width: 65%;
  }
}

/* ============== MOBILE DESIGN ========== */

@media screen and (max-width: 768px) {
  main {
    margin-top: 5rem;
    min-height: 0;
  }
  .main-hero {
    width: 100%;
    height: 100%;
    display: block;
  }
  .hero-section {
    border: none;
    display: block;
    height: fit-content;
  }
  .landing-hero {
    padding: 0 1.5rem;
    border-right: none;
    height: fit-content;
  }
  .landing-tag {
    font-size: 0.7rem;
    width: 100%;
    margin: 2rem 0 1rem;
  }
  .landing-hero-text h1 {
    font-size: 2.3rem;
    margin: 1rem 0;
    width: 100%;
  }
  .landing-subtext {
    color: var(--muted-text);
    font-size: 0.8rem;
    width: 100%;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  .hero-auth {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
  }
  .hero-auth .sign-up-btn {
    display: block;
    width: 100%;
    margin-bottom: 0.7rem;
  }
  .hero-auth .sign-in-btn {
    display: block;
    width: 100%;
    color: var(--primary-text);
    background: var(--page-background);
  }
  .auth-link {
    display: none;
  }
  .landing-preview {
    margin: 1rem 0;
    padding: 0 1.5rem;
    height: fit-content;
  }
  .stats {
    display: none;
  }
}
