.site-header {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 1.5rem 4rem;
}

.site-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.logo a {
  color: var(--primary-text);
  text-decoration: none;
}

/* ======= LANDING PAGE ======== */
.landing-auth {
  display: flex;
  gap: 1rem;
}

.sign-in-btn {
  color: var(--primary-text);
  background-color: var(--page-background);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0.5rem 1.3rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-btn:hover {
  border: 1px solid var(--primary-text);
}

.sign-up-btn {
  background-color: var(--primary-text);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.sign-up-btn:hover {
  background-color: #000000cc;
}

/* ==================================== */

.auth-link {
  color: var(--muted-text);
  font-size: 0.82rem;
  letter-spacing: 0.3px;
  word-spacing: 0.5px;
}

.auth-link button {
  border: none;
  background: none;
  color: var(--primary-text);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

/* ====================================== */

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  font-size: 0.82rem;
  text-decoration: none;
  color: var(--muted-text);
}

.nav-links a:hover {
  color: var(--primary-text);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1.5px;
}

.nav-links .active {
  color: var(--primary-text);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1.5px;
}

.mobile-nav {
  display: none;
}

.avatar {
  background-color: var(--primary-text);
  width: 35px;
  height: 35px;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ============== MOBILE DESIGN ========== */

@media screen and (max-width: 768px) {
  .site-header {
    padding: 1rem 1.5rem;
    position: fixed;
    background-color: var(--page-background);
    z-index: 100;
  }
  .landing-auth .sign-up-btn {
    display: none;
  }
  .sign-in-btn {
    color: var(--page-background);
    background-color: var(--primary-text);
  }
  .nav-links {
    display: none;
  }
  .page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
  }
  .mobile-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
    background-color: var(--primary-surface);
    padding: 1rem 1.5rem;
    cursor: pointer;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
  .nav-item i {
    color: var(--muted-text);
    font-size: 1.1rem;
  }
  .nav-item a {
    color: var(--muted-text);
    text-decoration: none;
    font-size: 0.7rem;
  }
  .nav-item .active-link {
    color: var(--primary-text);
  }
}
